aiohttp==3.7.4
akshare==0.7.41
aliyun-python-sdk-core==2.13.25
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.11.0
APScheduler==3.2.0
argon2-cffi==20.1.0
asgiref==3.3.4
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.4
backcall==0.2.0
baostock==0.8.8
beautifulsoup4==4.9.1
bleach==3.2.1
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
conda==4.8.4
conda-package-handling==1.7.0
crcmod==1.7
cryptography==3.3.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
demjson==2.2.4
docopt==0.6.2
docutils==0.16
entrypoints==0.3
environs==9.3.0
et-xmlfile==1.0.1
fake-headers==1.0.2
Flask==1.1.2
h11==0.12.0
h2==4.0.0
hpack==4.0.0
html5lib==1.1
hyperframe==6.0.0
idna==2.7
importlib-metadata==3.7.3
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
jsonpath==0.82
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kaitaistruct==0.9
keyring==23.0.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
ldap3==2.8.1
loguru==0.5.3
lxml==4.6.3
MarkupSafe==1.1.1
marshmallow==3.11.1
matplotlib==3.3.1
maxminddb==2.0.3
maxminddb-geolite2==2018.703
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mitmproxy==6.0.2
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
multidict==5.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.5
numpy==1.19.1
olefile==0.46
openpyxl==3.0.5
oss2==2.12.1
packaging==20.7
pandas==1.1.0
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.0
passlib==1.7.4
pickleshare==0.7.5
Pillow==7.2.0
pipreqs==0.4.10
pkginfo==1.7.0
prometheus-client==0.9.0
prompt-toolkit==3.0.5
protobuf==3.14.0
publicsuffix2==2.20191221
py-mini-racer==0.4.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycryptodome==3.9.8
pydivert==2.1.0
Pygments==2.6.1
pylint==2.5.3
PyMySQL==0.10.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.0
pypinyin==0.40.0
pyquery==1.4.3
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.17.0
pytypecho==2.0.0
pytz==2020.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.1
qtconsole==5.0.1
QtPy==1.9.0
readme-renderer==29.0
redis==3.5.3
requests==2.25.1
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.2
scipy==1.5.0
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
sip==4.19.13
six==1.14.0
sortedcontainers==2.3.0
soupsieve==2.0.1
supervisor==4.2.1
tabulate==0.8.7
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
twine==3.3.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.24.3
urwid==2.1.2
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.15.3
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win32-setctime==1.0.3
wincertstore==0.2
wrapt==1.11.2
wsproto==1.0.0
xlrd==1.2.0
yapf==0.31.0
yarg==0.1.9
yarl==1.6.3
you-get==0.4.1456
zipp==3.4.1
zstandard==0.14.1
